<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abin.checkrepeatsystem.student.mapper.CheckTaskMapper">
    <select id="selectLatestByPaperId" resultType="com.abin.checkrepeatsystem.pojo.entity.CheckTask">
        SELECT * FROM check_task WHERE paper_id = #{paperId} ORDER BY create_time DESC LIMIT 1
    </select>
</mapper>